server:
  port: 8300

spring:
  application:
    name: cloud-alibaba-sentinel-service
  cloud:
    nacos:
      discovery:
        server-addr: http://172.19.0.6:1111/ #配置Nacos地址: 现在是配置到nginx上，让nginx转发到nacos集群, 这个ip就是nginx的ip
    sentinel:
      transport:
        dashboard: localhost:8080
        port: 8719

management:
  endpoints:
    web:
      exposure:
        include: '*'