server:
  port: 8002

spring:
  application:
    name: cloud-consumer-order
  zipkin:
    base-url: http://127.0.0.1:9411
  sleuth:
    sampler:
      probability: 1

eureka:
  client:
    #表示是否将自己注册进EurekaServer默认为true
    register-with-eureka: true
    #是否从EurekaServer抓取已有的注册信息，默认为true。单节点无所谓，集群必须设置为true才能配合ribbon使用负载均衡
    fetchRegistry: true
    service-url:
      defaultZone: http://eureka8003.com:8003/eureka,http://eureka8004.com:8004/eureka  # 集群版
#      defaultZone: http://localhost:8003/eureka